@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
a:hover {
  color: #185785 !important;
}
.header {
  margin: 0;
  display: flex;
  width: 100%;
  background-color: #fefefe;
  -webkit-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);

  &__logo {
    margin-left: 20px;
    padding: 10px;
    flex-grow: 2;
    z-index: 5;
    @media (max-width: 900px) {
      font-size: 25px;
      margin-top: 25px;
    }
  }
  &__logo a {
    text-decoration: none;
    color: #2191e3;
  }
  &__nav li {
    padding: 25px;
    display: inline-block;
  }

  &__nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  &__nav a:hover {
    color: #2191e3;
  }
  &__nav a:active {
    color: #2191e3;
  }
  &__nav li {
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__burger {
    z-index: 9;
    font-size: 30px;
    padding: 32px;
    display: none;
    @media (max-width: 900px) {
      display: block;
    }
  }
}

.burger {
  @media (max-width: 900px) {
    display: flex;
  }
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transform: translateX(150%);
  transition: 1s;
  background-color: white;
  &__nav li {
    display: block;
    padding: 20px;
    font-size: 30px;
  }
  &__nav a {
    font-weight: bold;
    color: #2191e3;
    text-decoration: none;
    padding: 30px;
  }
}

.active {
  transform: translateX(0);
}

.main {
  // animation: opacityFade 2s ease;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;

  h1 {
    background: url("https://www.apple.com//v/ipad-pro/y/images/overview/hero_manifesto_bg__c0zrbe748m82_large.jpg");
    font-size: 90px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 20px;
    @media (max-width: 900px) {
      font-size: 60px;
      padding: 20px;
    }
  }
  h3 {
    margin-top: -30px;
    font-size: 30px;
    padding: 20px;
    @media (max-width: 900px) {
      font-size: 20px;
      padding: 20px;
    }
  }
  @keyframes opacityFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
}

.aboutme {
  // animation: 2s ease animationLeft;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__smallHeading {
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__description {
    width: 50%;
    padding: 40px;
    @media (max-width: 900px) {
      padding: 10px;
      width: 100%;
    }
  }
  &__image {
    width: 40%;
    border-radius: 50px;
    @media (max-width: 900px) {
      padding: 10px;
      width: 100%;
    }
  }

  &__image img {
    border-radius: 40px;
  }
  @keyframes animationLeft {
    from {
      transform: translate(-150%);
    }
    to {
      transform: translate(0);
    }
  }
}

.skills {
  background-color: #2191e3;
  // max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  &__wrapper {
    // animation: 2s ease animationRight;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__smallHeading {
    color: white;
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &__circle {
    // animation: 4s ease popUP;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    margin: 30px;
    transform: scale(1);
    transition: 0.5s;
    // border: 2px solid black;
    // border-radius: 100%;
  }
  &__circle:hover {
    transform: scale(1.3);
  }
  &__element h3 {
    text-align: center;
    color: white;
  }
  @keyframes animationRight {
    from {
      transform: translate(150%);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes popUP {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

.portfolio {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  &__smallHeading {
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    // animation: pop 2s ease;
    @media (max-width: 1000px) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__item {
    // background-color: #2191e3;
    transition: 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    width: 300px;
    height: 300px;
    margin: 20px;
    -webkit-box-shadow: 0px 7px 25px -11px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 7px 25px -11px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 7px 25px -11px rgba(0, 0, 0, 0.56);
    // filter: blur(3px);
    // -webkit-filter: blur(3px);
    position: relative;
    overflow: hidden;
    transform: scale(1);
    @media (max-width: 1000px) {
      width: 90%;
      height: 500px;
    }
  }
  &__title {
    transition: 0.5s;
    position: relative;
    // transform: translate(-160%, -40%);
    transform: translate(-50%, -40%);
    // opacity: 0;
    left: 50%;
    top: 40%;
    text-align: center;
    border-radius: 10px;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.64);
  }
  &__redirect {
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #2191e3;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  &__item:hover > &__title {
    // transform: translate(-50%, -40%);
    opacity: 1;
  }
  &__item:hover {
    transform: translateY(-5%);
  }
  @keyframes pop {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

.portfolioTemplate {
  text-align: center;
  &__header {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2191e3;
    height: 20vh;
    color: white;
    align-items: center;
  }
  &__main {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__description {
    width: 50%;
    font-size: 30px;
  }
  &__image img {
    max-width: 70%;
    border-radius: 15px;
    background-color: #fefefe;
    -webkit-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
  }
  &__button {
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #2191e3;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: 600;
  }
  &__buttonContainer {
    margin: 60px;
  }
}

.testimonials {
  transition: 1s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
  &__smallHeading {
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__slider-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 1s;
  }
  &__slider {
    position: relative;
    min-width: 850px;
    height: 300px;
    @media (max-width: 900px) {
      min-width: 450px;
    }
  }
  &__left {
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: -20px;
    cursor: pointer;
  }
  &__right {
    position: absolute;
    font-size: 30px;
    top: 45%;
    right: -20px;
    cursor: pointer;
  }
}

.single-testimonial {
  transition: 1s;
  min-width: 800px;
  flex: 1;
  width: 100%;
  border: 2px solid #2191e3;
  padding: 20px;
  margin: 30px;
  border-radius: 15px;
  opacity: 0;

  @media (max-width: 900px) {
    min-width: 400px;
  }
}

.active-slide-1 #card-1 {
  opacity: 1;
}
.active-slide-2 #card-2 {
  opacity: 1;
}
.active-slide-0 #card-0 {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2191e3;
  &__section {
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  &__logoSection a {
    text-decoration: none;
    color: white;
  }
  &__navSection {
    width: 20%;
  }
  &__navSection ul {
    margin-left: -45px;
  }
  &__navSection li {
    padding: 10px;
    list-style-type: none;
  }
  &__navSection h3 {
    color: white;
  }
  &__nav a {
    color: white;
    text-decoration: none;
  }
  &__linksSection {
    color: white;
  }
  &__linksSection ul {
    list-style-type: none;
    margin-left: -40px;
  }
  &__linksSection li {
    padding: 10px;
  }
  &__linksSection a {
    color: white;
    text-decoration: none;
  }
  &__copyright {
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    background-color: #185785;
  }
  &__copyright p {
    margin: 7px;
  }
}
