@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
// a:hover {
//   color: #185785 !important;
// }
.header {
  z-index: 2;
  margin: 0;
  display: flex;
  width: 100%;
  background-color: #fefefe;
  -webkit-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.14);

  &__logo {
    margin-left: 20px;
    padding: 10px;
    flex-grow: 2;
    z-index: 5;
    @media (max-width: 900px) {
      font-size: 25px;
      margin-top: 25px;
    }
  }
  &__logo a {
    text-decoration: none;
    color: #2191e3;
  }
  &__nav li {
    padding: 25px;
    display: inline-block;
  }

  &__nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  &__nav a:hover {
    color: #2191e3;
  }
  &__nav a:active {
    color: #2191e3;
  }
  &__nav li {
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__burger {
    z-index: 9;
    font-size: 30px;
    padding: 32px;
    display: none;
    @media (max-width: 900px) {
      display: block;
    }
  }
}

.burger {
  @media (max-width: 900px) {
    display: flex;
  }
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transform: translateX(150%);
  transition: 1s;
  background-color: white;
  &__nav li {
    display: block;
    padding: 20px;
    font-size: 30px;
  }
  &__nav a {
    font-weight: bold;
    color: #2191e3;
    text-decoration: none;
    padding: 30px;
  }
}

.active {
  transform: translateX(0);
}

.button {
  text-decoration: none;
  color: white;
  background-color: #2191e3;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.5s;
  outline: 0;
  border: 0;
  transform: translateX(0);
  cursor: pointer;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.button:hover {
  -webkit-box-shadow: 0px 0px 54px -15px rgba(33, 145, 227, 0.8);
  -moz-box-shadow: 0px 0px 54px -15px rgba(33, 145, 227, 0.8);
  box-shadow: 0px 0px 54px -15px rgba(33, 145, 227, 0.8);
  transform: translateY(-15%);
  color: white;
}
.main {
  // animation: opacityFade 2s ease;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 200px;
  @media (max-width: 900px) {
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
  }
  @media (max-width: 768px) {
    margin: 20px;
  }
  &__left {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    width: 100%;
    @media (max-width: 900px) {
      // align-items: center;
      width: 100%;
    }
  }
  &__right {
    padding-top: 100px;
    width: 500px;
    max-width: 600px;
    // width: 49%;
    @media (max-width: 900px) {
      width: 100%;
    }
    @media (max-width: 400px) {
      padding-top: 0;
      width: 300px;
    }
  }

  &__button {
    text-decoration: none;
    color: white;
    background-color: #2191e3;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    @media (max-width: 900px) {
      margin-left: 5px;
    }
  }

  h1 {
    // background: url("./images/header.jpg");
    font-size: 60px;
    background-color: #2191e3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
    color: transparent;
    @media (max-width: 900px) {
      font-size: 50px;
      padding-left: 5px;
    }
  }
  h3 {
    margin-top: -20px;
    font-size: 25px;
    color: #2191e3;
    @media (max-width: 900px) {
      font-size: 20px;
      padding: 20px;
      padding-left: 5px;
    }
  }
  @keyframes opacityFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
}

.aboutme {
  // animation: 2s ease animationLeft;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__smallHeading {
    color: #b6b6b6;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 768px) {
      font-size: 25px;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__description {
    width: 50%;
    padding: 40px;
    font-size: 20px;
    @media (max-width: 900px) {
      text-align: center;
      padding: 10px;
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
  }
  &__image {
    width: 40%;
    border-radius: 50px;
    @media (max-width: 900px) {
      padding: 10px;
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 50%;
      margin: 0 auto;
    }
    @media (max-width: 400px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__image img {
    border-radius: 10px;
    width: 100%;
  }
  @keyframes animationLeft {
    from {
      transform: translate(-150%);
    }
    to {
      transform: translate(0);
    }
  }
}

.skills {
  background-color: #2191e3;
  // max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  &__wrapper {
    // animation: 2s ease animationRight;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__smallHeading {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &__circle {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    margin: 30px;
    transform: scale(1);
    transition: 0.5s;
  }
  &__circle:hover {
    transform: scale(1.3);
  }
  &__element h3 {
    text-align: center;
    color: white;
  }
}

.portfolio {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media (max-width: 400px) {
    margin-top: 0;
  }
  &__header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    height: 30vh;
    color: black;
    align-items: center;
  }
  &__smallHeading {
    color: #b6b6b6;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__all {
    margin-bottom: 200px;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    // animation: pop 2s ease;
    @media (max-width: 1000px) {
      // flex-direction: column;
      width: 100%;
    }
  }
  &__item {
    transition: 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    width: 400px;
    height: 400px;
    margin: 20px;
    -webkit-box-shadow: 4px 9px 38px -25px rgba(103, 111, 116, 1);
    -moz-box-shadow: 4px 9px 38px -25px rgba(103, 111, 116, 1);
    box-shadow: 4px 9px 38px -25px rgba(103, 111, 116, 1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    @media (max-width: 1000px) {
      width: 90%;
      height: 600px;
    }
    @media (max-width: 768px) {
      height: 600px;
    }
    @media (max-width: 400px) {
      height: 350px;
    }
  }
  &__title {
    transition: 0.5s;
    position: relative;
    transform: translate(-50%, -140%);
    // transform: translate(-50%, -40%);
    // opacity: 0;
    left: 50%;
    top: 40%;
    text-align: center;
    border-radius: 10px;
    padding-top: 25%;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.64);
  }
  &__redirect {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
  &__item:hover > &__title {
    transform: translate(-50%, -40%);
    opacity: 1;
  }
  &__item:hover {
    transform: translateY(-5%);
    -webkit-box-shadow: 0px 0px 47px -6px rgba(103, 111, 116, 1);
    -moz-box-shadow: 0px 0px 47px -6px rgba(103, 111, 116, 1);
    box-shadow: 0px 0px 47px -6px rgba(103, 111, 116, 1);
    @media (max-width: 900px) {
      transform: translateY(0%);
    }
  }
}

.portfolioTemplate {
  background-color: #f9f9f9;
  text-align: center;
  &__header {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    height: 20vh;
    color: black;
    align-items: center;
  }
  &__main {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__description {
    width: 50%;
    font-size: 30px;
  }
  &__image img {
    max-width: 70%;
    border-radius: 15px;
    background-color: #fefefe;
    -webkit-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 6px 43px -20px rgba(0, 0, 0, 0.64);
  }
  &__button {
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #2191e3;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: 600;
  }
  &__buttonContainer {
    background-color: #f9f9f9;
    padding: 60px;
  }
}

.testimonials {
  transition: 1s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
  &__smallHeading {
    color: #b6b6b6;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
  &__slider-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 1s;
  }
  &__slider {
    position: relative;
    min-width: 850px;
    height: 300px;
    @media (max-width: 900px) {
      min-width: 800px;
    }
    @media (max-width: 768px) {
      min-width: 500px;
    }
    @media (max-width: 400px) {
      min-width: 300px;
    }
  }
  &__left {
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: -20px;
    cursor: pointer;
  }
  &__right {
    position: absolute;
    font-size: 30px;
    top: 45%;
    right: -20px;
    cursor: pointer;
  }
}

.single-testimonial {
  color: white;
  transition: 1s;
  min-width: 800px;
  flex: 1;
  width: 100%;
  background: #185785;
  box-shadow: 3px 4px 25px rgba(24, 87, 133, 0.25);
  border-radius: 10px;
  padding: 25px;
  margin: 30px;
  border-radius: 15px;
  opacity: 0;

  @media (max-width: 900px) {
    min-width: 750px;
  }
  @media (max-width: 768px) {
    min-width: 450px;
  }
  @media (max-width: 400px) {
    min-width: 250px;
  }
}

.active-slide-1 #card-1 {
  opacity: 1;
}
.active-slide-2 #card-2 {
  opacity: 1;
}
.active-slide-0 #card-0 {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2191e3;
  &__section {
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  &__logoSection a {
    text-decoration: none;
    color: white;
  }
  &__navSection {
    width: 20%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__navSection ul {
    margin-left: -45px;
  }
  &__navSection li {
    padding: 10px;
    list-style-type: none;
  }
  &__navSection h3 {
    color: white;
  }
  &__nav a {
    color: white;
    text-decoration: none;
  }
  &__linksSection {
    color: white;
  }
  &__linksSection ul {
    list-style-type: none;
    margin-left: -40px;
  }
  &__linksSection li {
    padding: 10px;
  }
  &__linksSection a {
    color: white;
    text-decoration: none;
  }
  &__copyright {
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    background-color: #185785;
  }
  &__copyright p {
    margin: 7px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__left {
    order: 2;
    max-width: 500px;
    text-align: center;
  }
  &__left li {
    list-style-type: none;
    margin-left: -40px;
  }
  &__left a {
    text-decoration: none;
    color: black;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 20vh;
    @media (max-width: 900px) {
      margin-top: 50px;
    }
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px;

    @media (max-width: 900px) {
      width: 650px;
    }
    @media (max-width: 768px) {
      width: 450px;
    }
    @media (max-width: 400px) {
      width: 300px;
    }
  }
  &__form .button {
    @media (max-width: 900px) {
      margin: 50px;
    }
    @media (max-width: 768px) {
      margin: 50px;
    }
  }
  &__form input {
    border: 0px;
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
    margin: 30px;
    transition: 1s;
    outline: 0;
    position: relative;
  }
  &__form label {
    transition: 1s;
    transform: translate(0);
  }

  &__form textarea {
    border: 0px;
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
    margin: 30px;
    transition: 1s;
    outline: 0;
  }
  &__form input:focus {
    outline: 0;
    border-bottom: 2px solid #2191e3;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     background-color: #121212;
//   }
//   h1 {
//     color: white;
//   }
//   p {
//     color: white;
//   }
//   .header {
//     background-color: #373737;
//     &__nav a {
//       color: white;
//     }
//   }
// }
